html,
body {
  /*min-height: 100%;*/
  min-height: 100vh;
  background: var(--blitar-green);
}
body.main{
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.4)), url("../assets/img/bg-portal.jpg") fixed center top;
  background-size: cover;
}
body.side{
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.4)), url("../assets/img/bg-portal-2.jpg") fixed center top;
  background-size: cover;
}
@media(max-width: 576px){
  .row > * {
    /*width: 50%;*/
  }
}
.section-heading{
    color: var(--bs-dark);
    font-weight: bold;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /*padding-top: 30px;*/
    /* padding: 10px 20px; */
}

.page-section .quote h3.section-subheading{
  color: #aaa;
  margin-top: 2rem;
}
.kat{
    padding: 25px 0px;
    background: #fff;
    /*margin-bottom: 50px;*/
}
.headers {
  /*background: rgba(0, 0, 0, 0.6);*/
  background: url("../assets/img/bg-logo-header.jpg");
  background-size: contain;

}
a.icon{
    color: #fff;
    float: right;
    padding: 0 5px;
    display: block;
}
a.icon:hover{
    background: rgba(16, 41, 105,1);
}
hr {
  border: solid 2px white;
  margin: 0;
  padding: 0px 20px;
  border-radius: 5px;
  opacity: inherit;
}
.logo-header{
    max-width: 50%;
}
@media(max-width: 1200px){
    .logo-header{
        max-width: 70%;
    }
}
@media(max-width: 992px){
    .logo-header{
        max-width: 100%;
    }
}
#mainNav {
    padding: 10px 20px;
}
#mainNav.scrolled {
    background: var(--blitar-green);
    box-shadow: 0px 5px 10px rgba(76, 166, 102, 0.45);
    transition: all 0.5s;
}
#mainNav .navbar-nav .nav-item a.nav-link.saran{
    color: var(--bs-orange);
    padding-right: 10px;
}
#mainNav .navbar-nav .nav-item .nav-link{
    font-size: .8rem;
    color: #fff;
    font-weight: bold;
}
#mainNav .navbar-nav .nav-item .nav-link.active{
   border-bottom: var(--bs-primary) solid;
}
#mainNav .navbar-brand img{
    height: 3rem;
}
section{

}
.page-section {
    padding: 0px 0px;
}
.page-section h3{
    margin-bottom: 20px;
}
.page-section h2{
    font-size: 2rem;
}
.btn.btn-primary{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    background: var(--blitar-green);
    border: none;
    border-radius: 5px;
}
.btn.btn-primary.home{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    background: #00000088;
    color: #fff;
    border: solid 2px var(--blitar-green);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 33px 0px;
    text-align: center;
    /* margin-top: 30px; */
}
.btn.btn-primary:hover{
  background: var(--blitar-green);
  color: var(--bs-primary);
  font-weight: bold;
  border: solid 2px var(--blitar-green);
  box-shadow:  0px 0px 20px rgba(var(--blitar-green-rgb), 0.8);
}
.btn.btn-primary:hover .fa-arrow-right{
    margin-left: 5px;
    transition: all 0.1s ease-in-out;
}
#home{
    /*background: rgba(255,255,255, .1);*/
}
#home .container .home-title{
  align-items: center;
}
#portfolio{
    width: 100%;
    background-size: auto;
    /* padding: 0; */
}
#profil{
  color: #fff;
}
#profil .profil-title #title{
  margin-bottom: 50px;
}
#profil-body{
  padding: 50px;
  color: #fff;
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.4)), url("../assets/img/bg-portal-2.jpg") fixed center top;
  background-size: cover;
}
#profil-body .profil-item{
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  color: var(--bs-gray-dark);
  font-size: 1rem;
}
#profil-body .profil-item h5{
  font-size: 1.5rem;
}
ul#portfolio-flters{
    display: block;
    margin:0;
    list-style-type: none;
    padding: 10px 20px;
}

#portfolio-flters li {
    background: var(--blitar-green);
    color: #fff;
    margin: 5px auto 25px auto;
    border-radius: 5px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: .8em;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 0px;
    transition: all 0.1s ease-in-out;
    font-family:  "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#portfolio-flters .filter-active{
    background: var(--bs-primary);
  }
#portfolio-flters li:hover {
    background: var(--bs-primary);
}
#portfolio{
  background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url("../assets/img/bg-portal.jpg") fixed center top;
  background-size: cover;
}
#portfolio .portfolio-item{
    margin-left: unset;
    margin-right: unset;
    max-width: 12.5%;
    margin-top: 10px;
    padding: 15px;
}
#portfolio .portfolio-item .portfolio-caption{
    padding: 8px;
    background: rgba(255,255,255,0);
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
    font-size: .7rem;
    color: rgb(255, 255, 255);
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
    font-size: .8em;
    color: #aaa;
}
#berita-body{
  background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url("../assets/img/bg-portal-2.jpg") fixed center top;
  background-size: cover;
}
#lapor-body{
  background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url("../assets/img/bg-portal.jpg") fixed center top;
  background-size: cover;
}
#faq-body{
  background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url("../assets/img/bg-portal-2.jpg") fixed center top;
  background-size: cover;
}
#notfound{
  background: linear-gradient(rgba(var(--blitar-green-rgb), 1), rgba(255, 255, 255, 1)),#fff;
}
.popover{
  background: rgba(0,0,0,0);
  border: rgba(0,0,0,0);
  z-index: 900;
}
.popover .popover-arrow{
  display: none;
}
.popover .popover-body{
  background: #3edaea;
  border-radius: 10px;
  max-width: 180px;
  text-align: center;
  color: #262626;
  font-size: .8em;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@media screen and (max-width: 768px) and (orientation: landscape){
    #portfolio .portfolio-item{
        max-width: 25%;
        padding: 12px;
    }
    .sticky-top{
      position: inherit;
    }
    #mainNav {
        background: var(--blitar-green);
        padding: 10px 10px;
    }
    
    #mainNav .navbar-nav .nav-item .nav-link.active{
      border: none;
    }
    #mainNav .navbar-brand img{
      height: 2rem;
    }
    nav a {
        color: #fff;
    }
    #profil-body{
      padding: 20px;
    }
    #profil-body .profil-item{
      font-size: .7rem;
    }
    #profil-body .profil-item h5{
      font-size: 1rem;
    }
}
@media screen and (max-width: 768px) and (orientation: portrait){
    .sticky-top{
      position: inherit;
    }

    #mainNav {
        background: var(--blitar-green);
        padding: 10px 10px;
    }
    
    #mainNav .navbar-nav .nav-item .nav-link.active{
      border: none;
    }
    #mainNav .navbar-brand img{
      height: 2rem;
    }
    nav a {
        color: #fff;
    }
    #home{
        text-align: center;
    }
    .home-logo{
      padding: 30px 0px;
    }
    
    .page-section h2{
        font-size: 1.5rem;
    }
    .headers{
        display: none;
    }
    ul#portfolio-flters.active{
        display: block;
    }
    #portfolio #portfolio-flters li{
      font-size: .7em;
      padding: 8px 10px;
    }
    #portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
        font-size: .6em;
    }
    #portfolio .portfolio-item{
        max-width: 33.333333%;
        padding: 12px;
    }
    #profil-body{
      padding: 20px;
    }
    #profil-body .container{
      max-width: 100%;
    }
  #profil-body .profil-item{
    font-size: .7rem;
  }
  #profil-body .profil-item h5{
    font-size: 1rem;
  }
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(var(--blitar-green-rgb), .45);
}
.portfolio-link .img-fluid, .portfolio-link .portfolio-hover{
    border-radius: 50%;
  }
.portfolio-link .portfolio-hover{
    box-shadow: 0px 0px 10px var(--blitar-green);
}
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 20px;
  bottom: 20px;
  z-index: 996;
  background: var(--bs-primary);
  width: 40px;
  height: 40px;
  color: var(--blitar-green);
  transition: all 0.4s;
  border-radius: 50%
}
.back-to-top i {
  font-size: 6em;
  line-height: 0;
}
.back-to-top:hover {
  background: var(--bs-orange);
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
.survey {
  background: #a416cc;
  color: #fff;
  font-size: .8em;
}
.survey i {
  font-size: 6em;
  line-height: 0;
}
.survey:hover {
  background: #3edaea;
  color: #fff;
}
.footer{
    text-align: left;
    font-family: var(--font-circle);
    font-size: .8rem;
    bottom: 0;
    color: #fff;
    background: rgb(var(--blitar-green-rgb));
}
.footer .left{
  text-align: center;
}
.footer img{
  max-width: 5rem;
}
.footer h6 {
	font-style: italic;
	font-family: var(--bs-body-font-family);
	font-size: .8rem;
	font-weight: initial;
}
.footer .back{
  background: url('../assets/img/map-image.png');
  background-size: contain;
}
a.close{
  text-decoration: none;
  color: #aaa;
  font-size: 1rem;
}
a.close:hover{
  color: #262626;
  font-weight: bold;
}
.modal-header{
  justify-content: end;
  border-bottom: none;
}
.modal-footer{
  justify-content: center;
}
